<%- include('partials/header') %>
<h1>HOME</h1>
<p><%= StartingContent %></p>
<% PostContent.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <% var link="/posts/"+post._id %> 
    <p><%= post.content.substring(0,100)+" ..." %><a href="<%= link %>">ReadMore</a></p>
     
<% }) %>


<%- include('partials/footer') %>